{% extends 'base.html' %}

{% block headcontent %}
{% load static %}
  <meta property="og:title" content="Vote page" />
  <link rel=" stylesheet" href="{% static 'css/expandparking.css' %}" />
  <title>Parking</title>
{% endblock %}

{% block maincontent %} 
{% for p in parking %}
<div class="parking-img-container">
  <img  class = "parking-img" src="{{p.parkingphoto.url}}"></img>
</div>

  <div class="parking-title">
    <div class="">
      {{p.Name}}
    </div>
  </div>

  <div class="parking-desc">
    {{p.price}}EGP
    <div calss="flexhoriz">
      </div>
  </div>
{% endfor %}
{% endblock %}