{% extends 'base.html' %}

{% block headcontent %}
{% load static %}
  <meta property="og:title" content="Vote page" />
  <title>Parking spots</title>
{% endblock %}

{% block maincontent %}
  {% for p in parkingspots %}
  <a href = "{%url 'expandparking' p.id %}">
  <div class="small card sharp">
    <img  class = "card-parking-img" src="{{p.parkingphoto.url}}"></img>

    <div class="card-title">
      <div class="card-name">
        {{p.Name}}
      </div>

      <div class="">
        {{p.price}}EGP
      </div>

    </div>
  </div>
  </a>
  {% endfor %}

{% endblock %}