{% extends 'base.html' %}

{% block headcontent %}
{% load static %}
  <meta property="og:title" content="Nomination page" />
  <link rel="stylesheet" href="{% static 'css/nomination.css' %}" />
  <title>Nomination Form</title>
{% endblock %}

{% block maincontent %}
<div class="form-container">
  <form enctype="multipart/form-data" id="myForm" class="nomination" action="{% url 'reservation' '1' %}" method="POST">
    {%csrf_token%}

    <h2 class="form-name" style="direction:rtl;">حجز موقف</h2>
    {% if ConfirmationMessage == 'تم الحجز من قبل' or ConfirmationMessage == 'تم الحجز' %}
    <div>{{ ConfirmationMessage }}</div>

    {% else %}
    <div class="field">
      {{form.Name.label}}
      {{form.Name}}
    </div>

    <div class="field">
      {{form.address.label}}
      {{form.address}}
    </div>

    <div class="field">
      {{form.phone_no.label}}
      {{form.phone_no}}
    </div>
  
    <div class="field">
      {{form.Date.label}}
      {{form.Date}}
    </div>

    <div class="field">
      {{form.parking_spot.label}}
      {{form.parking_spot}}
    </div>



    <div class="field">
      {{form.price.label}}
      {{form.price}}
    </div>

    {% if ConfirmationMessage %}
    <div>{{ ConfirmationMessage }}</div>
    {% endif %}
    <input type="submit" value="تأكيد" />
    {% endif %}
  </form>
</div>
{% endblock %}